
@{
    ViewBag.Title = "Home Page";
}
@model Chatter2.Models.Message


<div class="jumbotron">
    <h1>CHATTER</h1>
    <p class="lead">Connect with your friends and post cool pictures </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">LOG IN &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your photo</h2>
        <p>
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSAn9Qv-2M_eObePODzBpNbwp5wloT25q5VRbAUA697PtVRASUB" height="200" width="200" />
            <br />
            <div class="form-horizontal">

                @*@Html.ActionLink("Add Photo", "SetPhoto", "Account")*@
                @Html.ActionLink("Add Photo", "Create", "Messages")
                @*<h4>Add Photo</h4>*@

                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(model => model.MessageBox, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="control-label col-md-2">Message</div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MessageBox, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MessageBox, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
    </div>


    @*<br />Add photo*@
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
</div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
